.socialsIcon {
  height: 1rem;
  width: 1rem;
  position: relative;
  min-height: 1rem;
  cursor: pointer;
}
.newsletterIcon,
.vectorIcon {
  height: 0.938rem;
  width: 1.25rem;
  position: relative;
}
.vectorIcon {
  height: 1rem;
  width: 1.194rem;
  min-height: 1rem;
  cursor: pointer;
}
.socials {
  flex: 0.3512;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-333xl) var(--padding-base)
    var(--padding-5xs);
  box-sizing: border-box;
  min-width: 18.813rem;
  max-width: 100%;
  gap: var(--gap-xl);
}
.partOfThe {
  position: relative;
  line-height: 1.563rem;
  font-weight: 800;
  display: inline-block;
  min-width: 5.625rem;
}
.potlockIcon {
  height: 1.106rem;
  width: 5.769rem;
  position: relative;
}
.openFundingStack {
  position: relative;
  line-height: 1.562rem;
  font-weight: 800;
}
.partOfTheParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs-5) 0;
  box-sizing: border-box;
  gap: var(--gap-6xs-4);
  max-width: 100%;
  cursor: pointer;
}
.subscribeToOur,
.text {
  position: relative;
  line-height: 2rem;
}
.text {
  font-size: var(--aipgf-manrope-semibold-1356-size);
  line-height: 2.5rem;
  font-weight: 600;
  font-family: var(--aipgf-manrope-semibold-1356);
  color: var(--aipgf-white);
  text-align: center;
  display: inline-block;
  min-width: 4.125rem;
}
.button,
.tag {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button {
  height: 1.5rem;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
}
.tag {
  cursor: pointer;
  border: 1px solid var(--aipgf-white);
  padding: var(--padding-12xs) var(--padding-6xs);
  background-color: transparent;
  width: 5.625rem;
  border-radius: var(--br-5xl);
  justify-content: center;
}
.footer,
.footer1,
.subscribe {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.subscribe {
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-5xs)
    var(--padding-142xl);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  min-width: 18.813rem;
  text-align: left;
  font-size: var(--aipgf-manrope-regular-1538-size);
}
.footer,
.footer1 {
  justify-content: flex-start;
}
.footer1 {
  flex: 1;
  background-color: var(--aipgf-shark1);
  align-items: center;
  padding: var(--padding-12xl) var(--padding-61xl);
  box-sizing: border-box;
  row-gap: 20px;
}
.footer {
  align-self: stretch;
  align-items: flex-start;
  z-index: 1;
  text-align: center;
  font-size: var(--font-size-base-7);
  color: var(--aipgf-white);
  font-family: var(--aipgf-manrope-semibold-1356);
}
@media screen and (max-width: 1200px) {
  .socials,
  .subscribe {
    flex: 1;
  }
  .footer1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 825px) {
  .socialsIcon {
    width: 100%;
  }
  .socials {
    justify-content: center;
  }
  .socials,
  .subscribe {
    flex-wrap: wrap;
  }
  .footer1 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .socials {
    padding-right: var(--padding-157xl);
    box-sizing: border-box;
  }
  .partOfTheParent {
    flex-wrap: wrap;
  }
  .subscribe {
    padding-left: var(--padding-61xl);
    box-sizing: border-box;
  }
}
