.proactiveGrantsProgram {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.button {
  width: 6.1rem;
  height: 2.594rem;
  cursor: pointer;
}
.proactiveGrantsProgramParent {
  width: 18.313rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-42xl);
  min-width: 18.313rem;
}
.phuserCircleFillIcon,
.phuserCircleFillIcon1 {
  width: 2.713rem;
  border-radius: 115.23px;
  overflow: hidden;
  flex-shrink: 0;
}
.phuserCircleFillIcon {
  height: 2.713rem;
  position: relative;
}
.phuserCircleFillIcon1 {
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -0.006rem;
  bottom: 0;
  max-height: 100%;
}
.firstUserPair {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-107xl-4);
}
.firstUserPairChild {
  height: 2.331rem;
  width: 8.869rem;
  position: absolute;
  margin: 0 !important;
  top: -1.325rem;
  left: 2.138rem;
  z-index: 2;
}
.claritycoinBagSolidIcon {
  height: 4.631rem;
  width: 4.631rem;
  position: absolute;
  margin: 0 !important;
  bottom: -2.769rem;
  left: 1.875rem;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.frameChild {
  height: 2.331rem;
  width: 8.869rem;
  position: relative;
  z-index: 2;
}
.claritycoinBagSolidParent {
  margin: 0 !important;
  position: absolute;
  top: 2.288rem;
  left: 2.138rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.usersList {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  gap: var(--gap-49xl-6);
}
.featureCard,
.usersList,
.usersListWrapper {
  display: flex;
  justify-content: flex-start;
}
.usersListWrapper {
  height: 12.406rem;
  width: 13.319rem;
  flex-direction: column;
  align-items: flex-start;
  min-width: 13.319rem;
}
.featureCard {
  flex: 0.9894;
  border-radius: var(--br-6xl);
  background-color: var(--aipgf-white);
  border: 1px solid var(--aipgf-geyser);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
  padding: var(--padding-29xl) var(--padding-13xl) var(--padding-24xl);
  gap: var(--gap-4xl);
  min-width: 25.5rem;
  max-width: 100%;
}
.button1 {
  width: 7.663rem;
  height: 2.594rem;
  cursor: pointer;
}
.component2Inner,
.proactiveGrantsProgramGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.proactiveGrantsProgramGroup {
  align-self: stretch;
  gap: var(--gap-42xl);
}
.component2Inner {
  flex: 1;
  padding: var(--padding-6xs-2) 0 0;
  box-sizing: border-box;
  min-width: 11.875rem;
}
.frameItem {
  height: 0.506rem;
  width: 0.506rem;
  position: relative;
  border-radius: 50%;
  background-color: var(--aipgf-shark1);
}
.ellipseParent,
.frameContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.ellipseParent {
  align-items: center;
  gap: var(--gap-11xs-3);
}
.frameContainer {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 var(--padding-6xs);
}
.rectangleDiv {
  margin-right: -0.082rem;
  align-self: stretch;
  height: 0.081rem;
  position: relative;
  background-color: var(--aipgf-shark1);
}
.internet {
  position: relative;
  line-height: 1rem;
  font-weight: 500;
  display: inline-block;
  min-width: 2rem;
}
.internetDataPair {
  flex: 0.8422;
  border-radius: 12.09px;
  border: 1.3px solid var(--grays-black);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 var(--padding-5xs);
  flex-shrink: 0;
}
.userData {
  position: relative;
  line-height: 1rem;
  font-weight: 500;
  display: inline-block;
  min-width: 2.375rem;
}
.internetDataPair1 {
  flex: 1;
  border-radius: 12.09px;
  background-color: var(--grays-black);
  border: 1.3px solid var(--grays-black);
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-9xs) 0 var(--padding-8xs);
  flex-shrink: 0;
  white-space: nowrap;
  color: var(--aipgf-white);
}
.internetDataCardInner,
.internetDataPair1,
.internetDataPairParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.internetDataPairParent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-7xs-3);
  flex-shrink: 0;
}
.internetDataCardInner {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-3xs-4) 0 0;
}
.internetDataCardChild {
  height: 2.35rem;
  width: 3.106rem;
  position: relative;
  border-radius: 0 0 8.06px 0;
  background-color: var(--grays-black);
  flex-shrink: 0;
}
.internetDataCard {
  width: 10.575rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini-8);
}
.frameChild1,
.frameGroup,
.frameIcon {
  position: absolute;
  border-radius: 8.06px;
  overflow: hidden;
}
.frameGroup {
  width: 11.731rem;
  margin: 0 !important;
  bottom: 2.056rem;
  left: 0.275rem;
  border: 1.3px solid var(--grays-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-12xs) var(--padding-12xs-4) 0;
  gap: var(--gap-11xs-6);
}
.frameChild1,
.frameIcon {
  object-fit: contain;
}
.frameIcon {
  top: 2.931rem;
  left: 0;
  width: 12.019rem;
  height: 4.663rem;
}
.frameChild1 {
  top: 0;
  left: 5.713rem;
  width: 12.263rem;
  height: 6.744rem;
  z-index: 1;
}
.frameDiv {
  width: 100%;
  height: 7.594rem;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
}
.frameChild2 {
  height: 0.569rem;
  width: 0.569rem;
  position: relative;
  border-radius: 50%;
  background-color: var(--aipgf-shark1);
}
.ellipseGroup,
.frameWrapper1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.ellipseGroup {
  align-items: center;
  gap: var(--gap-11xs-5);
  flex-shrink: 0;
}
.frameWrapper1 {
  align-items: flex-start;
  padding: 0 var(--padding-5xs);
}
.frameChild5 {
  align-self: stretch;
  height: 0.094rem;
  position: relative;
  background-color: var(--aipgf-shark1);
  flex-shrink: 0;
}
.frameParent2 {
  margin-right: -4.663rem;
  width: 13.275rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs-5);
}
.contextLength {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.range,
.thumb {
  position: absolute;
  border-radius: 385.11px;
  overflow: hidden;
}
.range {
  top: 0.144rem;
  left: 0;
  background-color: var(--aipgf-shark1);
  width: 3.438rem;
  height: 0.213rem;
}
.thumb {
  top: 0;
  left: 3.213rem;
  background-color: var(--aipgf-white);
  border: 0.8px solid var(--aipgf-shark1);
  box-sizing: border-box;
  width: 0.481rem;
  height: 0.481rem;
  z-index: 1;
}
.sliderComponents {
  margin-bottom: -0.125rem;
  height: 0.481rem;
  width: 3.694rem;
  position: relative;
}
.frameParent1,
.slider,
.sliderLabels {
  display: flex;
  justify-content: flex-start;
}
.slider {
  align-self: stretch;
  height: 0.213rem;
  border-radius: 385.11px;
  background-color: var(--aipgf-geyser);
  flex-direction: row;
  align-items: flex-end;
}
.frameParent1,
.sliderLabels {
  width: 8.156rem;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-10xs);
}
.frameParent1 {
  width: 9.063rem;
  border-radius: var(--br-3xs-1);
  background-color: var(--aipgf-white);
  border: 1.5px solid var(--grays-black);
  box-sizing: border-box;
  overflow: hidden;
  align-items: flex-end;
  padding: var(--padding-8xs) var(--padding-6xs) var(--padding-2xs) 0;
  gap: var(--gap-4xs);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-6xs-1);
  color: var(--color-gray-200);
  font-family: var(--aipgf-manrope-semibold-1356);
}
.component2,
.frameParent {
  flex: 1;
  box-sizing: border-box;
}
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-97xl) 0 0;
  position: relative;
  min-width: 11.688rem;
  margin-left: -0.775rem;
  text-align: center;
  font-size: var(--font-size-4xs-1);
  color: var(--grays-black);
}
.component2 {
  border-radius: var(--br-6xl);
  background-color: var(--aipgf-white);
  border: 1px solid var(--aipgf-geyser);
  overflow: hidden;
  padding: var(--padding-23xl) var(--padding-7xl) var(--padding-29xl)
    var(--padding-13xl);
  min-width: 25.5rem;
  row-gap: 20px;
}
.component2,
.featureCardParent,
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.featureCardParent {
  flex: 1;
  gap: var(--gap-5xl);
}
.frameWrapper {
  align-self: stretch;
  padding: 0 var(--padding-61xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-19xl);
  color: var(--aipgf-shark1);
  font-family: var(--p);
}
@media screen and (max-width: 1425px) {
  .component2,
  .featureCard {
    flex: 1;
  }
  .featureCardParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 825px) {
  .proactiveGrantsProgram {
    font-size: var(--font-size-11xl);
  }
  .proactiveGrantsProgramParent,
  .usersListWrapper {
    flex: 1;
  }
  .component2,
  .featureCard {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .frameWrapper {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .proactiveGrantsProgram {
    font-size: var(--font-size-4xl);
  }
  .proactiveGrantsProgramGroup,
  .proactiveGrantsProgramParent {
    gap: var(--gap-11xl);
  }
  .frameParent {
    margin-left: 0;
  }
}
