.applyForGrant,
.buildingAtThe {
  margin: 0;
  position: relative;
  font-family: inherit;
  flex-shrink: 0;
  max-width: 100%;
}
.applyForGrant {
  width: 23.75rem;
  font-size: inherit;
  letter-spacing: -1px;
  line-height: 3rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.buildingAtThe {
  width: 41.938rem;
  font-size: var(--p-size);
  font-weight: 400;
  color: var(--aipgf-shark);
  display: inline-block;
}
.applyGrantContainer,
.container,
.header {
  align-self: stretch;
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.applyGrantContainer {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-mini-5);
}
.container,
.header {
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) 0;
}
.header {
  border-radius: var(--br-4xs);
  border: 1px solid var(--aipgf-geyser);
  justify-content: center;
  padding: 0 0 0 var(--padding-3xl);
}
.div1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 4.063rem;
}
.browseIdeas,
.lookAtExisting {
  position: relative;
  line-height: 2.5rem;
}
.lookAtExisting {
  font-size: var(--font-size-base);
  line-height: 1.5rem;
  font-family: var(--aipgf-manrope-semibold-1356);
}
.browseIdeasDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi-6);
}
.ideas1 {
  text-decoration: underline;
}
.ideas {
  color: inherit;
}
.browseTheRfpsContainer {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 1.875rem;
  font-weight: 400;
  font-family: var(--aipgf-manrope-semibold-1356);
}
.browseIdeasTitle,
.browseIdeasTitleContainer {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.browseIdeasTitle {
  width: 58rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-4xl-4);
}
.browseIdeasTitleContainer {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: -4.813rem;
  font-size: var(--font-size-16xl-4);
}
.browseIdeasContent,
.group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.group {
  align-self: stretch;
}
.browseIdeasContent {
  width: 66.438rem;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
}
.minusIcon {
  height: 2rem;
  width: 2rem;
  position: relative;
}
.background,
.div {
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.background {
  flex: 1;
  background-color: var(--aipgf-science-blue);
  justify-content: space-between;
  padding: var(--padding-mid) var(--padding-8xl) var(--padding-103xl-6)
    var(--padding-9xl);
  gap: var(--gap-xl);
}
.div {
  align-self: stretch;
  height: 11.75rem;
  border: 1px solid var(--aipgf-geyser);
  overflow: hidden;
  justify-content: flex-start;
  color: var(--aipgf-white);
}
.div2 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 4.813rem;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.createAnOnContainer,
.createOnChainProfile {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.createOnChainProfile {
  margin: 0;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 3rem;
  font-weight: 400;
  font-family: inherit;
  white-space: pre-wrap;
}
.createAnOnContainer {
  font-size: var(--font-size-base);
  line-height: 1.5rem;
  font-family: var(--aipgf-manrope-semibold-1356);
}
.createOnChainProfileSubmParent {
  width: 62.663rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-3xs-6);
  max-width: calc(100% - 217px);
  font-size: var(--font-size-17xl);
  color: var(--grays-black);
}
.plusIcon {
  width: 2rem;
  height: 2rem;
  position: relative;
}
.plusIcons,
.proposalSteps {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xl) 0 0;
}
.proposalSteps {
  align-self: stretch;
  border: 1px solid var(--aipgf-geyser);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-8xl) var(--padding-2xl)
    var(--padding-12xl);
  gap: var(--gap-35xl-2);
  max-width: 100%;
}
.div3 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 4.688rem;
}
.frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-6) 0 0;
}
.kycPayouts {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 3rem;
  font-weight: 400;
  font-family: inherit;
}
.kycPayoutsParent,
.plusWrapper,
.proposalSteps1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.kycPayoutsParent {
  width: 62.538rem;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-3xs-2);
  max-width: calc(100% - 219px);
  font-size: var(--font-size-17xl);
  color: var(--grays-black);
}
.plusWrapper,
.proposalSteps1 {
  padding: var(--padding-7xl-6) 0 0;
}
.proposalSteps1 {
  align-self: stretch;
  border: 1px solid var(--aipgf-geyser);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-8xl) var(--padding-2xl)
    var(--padding-12xl);
  gap: var(--gap-37xl-2);
  max-width: 100%;
}
.parent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-12xs);
  font-size: var(--h1-size);
  color: var(--aipgf-shark1);
}
.applicationContent,
.grantApplication,
.parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.applicationContent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-13xl);
}
.grantApplication {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-61xl) var(--padding-mid);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--grays-black);
  font-family: var(--p);
}
@media screen and (max-width: 1425px) {
  .applyGrantContainer,
  .background {
    flex-wrap: wrap;
  }
  .div {
    height: auto;
  }
}
@media screen and (max-width: 1200px) {
  .applyGrantContainer {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 825px) {
  .applyForGrant {
    font-size: var(--font-size-13xl);
    line-height: 2.375rem;
  }
  .applyGrantContainer {
    flex-wrap: wrap;
  }
  .div1 {
    font-size: var(--font-size-29xl);
  }
  .browseIdeas {
    font-size: var(--font-size-9xl);
    line-height: 2rem;
  }
  .div2 {
    font-size: var(--font-size-29xl);
  }
  .createOnChainProfile {
    font-size: var(--font-size-10xl);
    line-height: 2.375rem;
  }
  .proposalSteps {
    gap: var(--gap-8xl);
  }
  .div3 {
    font-size: var(--font-size-29xl);
  }
  .kycPayouts {
    font-size: var(--font-size-10xl);
    line-height: 2.375rem;
  }
  .proposalSteps1 {
    gap: var(--gap-9xl);
  }
  .applicationContent {
    gap: var(--gap-base);
  }
  .grantApplication {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .applyForGrant {
    font-size: var(--font-size-5xl);
    line-height: 1.813rem;
  }
  .applyGrantContainer {
    flex-wrap: wrap;
  }
  .div1 {
    font-size: var(--font-size-17xl);
  }
  .browseIdeas {
    font-size: var(--font-size-2xl);
    line-height: 1.5rem;
  }
  .browseTheRfpsContainer {
    font-size: var(--font-size-base);
    line-height: 1.5rem;
  }
  .div2 {
    font-size: var(--font-size-17xl);
  }
  .createOnChainProfile {
    font-size: var(--font-size-3xl);
    line-height: 1.813rem;
  }
  .div3 {
    font-size: var(--font-size-17xl);
  }
  .kycPayouts {
    font-size: var(--font-size-3xl);
    line-height: 1.813rem;
  }
}
