.vectorIcon {
  position: absolute;
  height: 88.76%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 11.24%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameChild {
  position: absolute;
  top: 1.606rem;
  left: 0.375rem;
  width: 0.1rem;
  height: 0.056rem;
}
.vectorIcon1,
.vectorIcon2,
.vectorIcon3,
.vectorIcon4,
.vectorIcon5 {
  position: absolute;
  height: 25.09%;
  width: 14.62%;
  top: 25.84%;
  right: 56.92%;
  bottom: 49.06%;
  left: 28.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.vectorIcon2,
.vectorIcon3,
.vectorIcon4,
.vectorIcon5 {
  top: 26.22%;
  right: 28.06%;
  bottom: 48.69%;
  left: 57.31%;
}
.vectorIcon3,
.vectorIcon4,
.vectorIcon5 {
  height: 9.74%;
  width: 22.92%;
  top: 52.43%;
  right: 38.34%;
  bottom: 37.83%;
  left: 38.74%;
}
.vectorIcon4,
.vectorIcon5 {
  height: 6.37%;
  width: 7.11%;
  top: 51.69%;
  right: 24.11%;
  bottom: 41.95%;
  left: 68.77%;
}
.vectorIcon5 {
  width: 6.72%;
  right: 68.77%;
  left: 24.51%;
}
.vectorParent {
  position: absolute;
  height: 89%;
  width: 84.33%;
  top: 4.33%;
  right: 7.33%;
  bottom: 6.67%;
  left: 8.33%;
}
.aiPgf,
.logo1 {
  position: relative;
}
.logo1 {
  height: 1.875rem;
  width: 1.875rem;
  overflow: hidden;
  flex-shrink: 0;
}
.aiPgf {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 3.438rem;
}
.link,
.logo,
.logoParent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.logoParent {
  align-items: center;
  gap: var(--gap-4xs);
}
.link,
.logo {
  align-items: flex-start;
}
.logo {
  flex-direction: column;
  padding: 0 var(--padding-5xl) 0 0;
}
.proposals,
.rfps {
  text-decoration: none;
  position: relative;
  line-height: 2rem;
  color: inherit;
  display: inline-block;
  min-width: 4.438rem;
}
.rfps {
  min-width: 2.188rem;
}
.rFPsIdeas {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
}
.about,
.projects {
  text-decoration: none;
  position: relative;
  line-height: 2rem;
  color: inherit;
  display: inline-block;
  min-width: 3.75rem;
}
.about {
  min-width: 2.75rem;
}
.rFPsIdeas1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
}
.ideas {
  text-decoration: none;
  position: relative;
  line-height: 2rem;
  color: inherit;
  display: inline-block;
  min-width: 2.438rem;
}
.navigation,
.proposalsParent {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  font-size: var(--aipgf-manrope-regular-1538-size);
  color: var(--communityintercomcom-black-pearl);
  font-family: var(--aipgf-manrope-semibold-1356);
}
.navigation {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.proposalsParent {
  width: 21.938rem;
  justify-content: flex-start;
  gap: var(--gap-2xl);
  max-width: 100%;
}
.svgIcon {
  width: 1rem;
  height: 1rem;
  position: relative;
}
.submitProposal {
  align-self: stretch;
  position: relative;
  line-height: 2.5rem;
  white-space: nowrap;
}
.button,
.buttonWrapper,
.container1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.button,
.buttonWrapper {
  flex-direction: row;
}
.button {
  box-shadow: 0 0 0 2px #0057ff inset;
  border-radius: var(--br-5xl);
  background-color: var(--communityintercomcom-blue-ribbon);
  overflow: hidden;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  min-width: 4.375rem;
}
.buttonWrapper {
  padding: 0 0 0 var(--padding-5xs);
  z-index: 1;
}
.cta,
.list {
  align-items: flex-start;
}
.list {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-5xs);
}
.cta {
  height: 3.063rem;
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--padding-3xs) 0 0;
  box-sizing: border-box;
  font-size: var(--communityintercomcom-manrope-light-1389-size);
  color: var(--aipgf-white);
  font-family: var(--aipgf-manrope-semibold-1356);
}
.container,
.navBar {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.container {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-5xs-5) var(--padding-mid) var(--padding-3xs-5) 0;
  gap: var(--gap-xl);
}
.navBar {
  align-self: stretch;
  background-color: var(--aipgf-white);
  border-top: 1px solid var(--aipgf-aqua-haze);
  border-bottom: 1px solid var(--aipgf-aqua-haze);
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-61xl);
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--communityintercomcom-black-pearl);
  font-family: var(--font-menlo);
}
@media screen and (max-width: 825px) {
  .navBar {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .proposalsParent {
    display: none;
  }
}
